/**/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/*para configuração das variaveis*/
:root {
    --fonte-normal: verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

/*configuração geral para todos os elementos
margin e padding de 0 vai fazer tudo ficar mais grudado inicialmente*/
* {
    margin: 0px;
    padding: 0px;
}

/*configurações de html e bady que terão em comun*/
html, body {
    background-color: darkgrey;
    /*o tamanho minimo de altura de ambos será 100% de Viewport*/
    min-height: 100vh;
    font-family: var(--fonte-normal);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

/*So serve para H1 dentro do header*/
header > h1 {
    /*Pra dar um espacinho do titulo, não deixa colar no topo do navegador*/
    padding-top: 50px;
    /*Variante de fonte: todas letra maiusculas com iniciais maiores*/
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 4em;
}

header > p {
    padding-bottom: 50px;
}

/*header a, footer a, para não afetar o que esta dentro do conteudo*/
header a, footer a {
    /*sempre branco*/
    color: white;
    /*tirar subilinhado*/
    text-decoration: none;
    font-weight: bolder;
}

/*quando passar o mouse encima*/
header a:hover, footer a:hover {
    text-decoration: underline;
}

/*grante que todas as section sejam exibidas com um espacinho de 10% encima e embaixo da viewport*/
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    /*espaçamento duplo entre linhas*/
    line-height: 2em;
    /*afasta do canto da tela*/
    padding-left: 30px;
    font-family: var(--font3);
}

/*para as sections da classe normal*/
section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(66, 66, 66);
    color: white;
    margin-left: -10px;
}

/*dentro do paragravo da section da classe imagem ira ter um fundo pra propria imagem não atrapalhar a leitura se houver pontos da mesma cor*/
section.imagem > p {
    /*box bem transparente*/
    background-color: rgba(0, 0, 0, 0.251);
    /*evita que o box seja maior que o necessário, quanto mais testo, mais px*/
    width: 230px;
    padding: 0px 10px 0px 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}